:root {
    --primary-color: #22254b;
    --secondary-color: #373b69;
}

* {
    box-sizing: border-box;
}

body {
   
    background-color: var(--primary-color);
    margin: 0;
}

header {
    background-color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  
}
.search {
    background-color: transparent;
    border-radius: 50px;
    padding: 4px;
    border: 2px solid var(--primary-color);
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1 1rem;
    color: #fff;

}
.search:focus {
    border-color: var(--primary-color);
    border: none;
    color: #bbb;
}
.search::placeholder {
    color: #7378c5;
}
img {
    width: 100%
}
.movie {
    height: 500px;
    width: 300px;
    background-color: var(--secondary-color);
    margin: 20px;
}