@import url('https://fonts.googleapis.com/css?family=Roboto:weight@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    /* overflow: hidden; */
}

.title {
    margin: 10px 0 0;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100px;
}

.container img {
    object-fit: cover;
    margin: 10px;
    height: 300px;
    width: 300px;
    max-width: 100%;
}