*{
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
.item-info {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: rgb(88, 84, 84);
    justify-content: space-between;
    border-radius: 50px;

}

.date-info {
    display: flex;
    align-items: center;
    margin: 10px;
    color: #fff;
}

.info {
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.heading{
    position: relative;
    display: flex;
 justify-content: center;
    align-items: center;
margin-left: 40px;
color: #fff;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: blueviolet;
    border-radius: 20px;
    color: #fff;

}